<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css" />
  <style>
    :root {
      --links: PaleGreen;
    }
  </style>
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css"
    integrity="sha384-vKruj+a13U8yHIkAyGgK1J3ArTLzrFGBbBc0tDp4ad/EyewESeXE/Iv67Aj8gKZ0"
    crossorigin="anonymous">
  <script defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.js"
    integrity="sha384-PwRUT/YqbnEjkZO0zZxNqcxACrXe+j766U2amXcgMg5457rve2Y7I6ZJSm2A0mS4"
    crossorigin="anonymous">
    </script>
  <script defer
    src="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/contrib/auto-render.min.js"
    integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05"
    crossorigin="anonymous"
    onload="renderMathInElement(document.body);">
    </script>

  <title>
    Repositorio de dune-archiso
  </title>
</head>

<body>
  <div class="header">
    <h1 style="color: #ffbe85;" align="center">
      \(\small\text{¡Bienvenid}\)@ \(\small\text{al}\)
      <a
        href="https://gitlab.com/dune-archiso/repository/dune-archiso-repository-core">
        \(\small\text{repositorio}\)
      </a>
      \(\small\text{de}\)
      <a href="https://github.com/carlosal1015/dune-archiso">
        \(\small\texttt{dune-archiso}\)</a>\(\small\text{!}\)
    </h1>
  </div>

  <hr>

  <div class="navbar" align="center">
    <a href="#"
      style="color: MintCream; font-size: 24px; padding: 10px 30px;">
      \(\textrm{Inicio}\)
    </a>
    <a href="packages.html"
      style="color: #41adff; font-size: 24px; padding: 10px 30px;">
      \(\textrm{Paquetes}\)
    </a>
    <a href="download.html"
      style="color: #41adff; font-size: 24px; padding: 10px 30px;">
      \(\textrm{Descarga}\)
    </a>
    <a href="blog.html"
      style="color: #41adff; font-size: 24px; padding: 10px 30px;">
      \(\textrm{Blog}\)
    </a>
  </div>

  <hr>

  <p>
    \(\text{Esta}\)
    <a href="https://es.wikipedia.org/wiki/Imagen_ISO">
      \(\text{imagen ISO},\)
    </a>
    \(\text{no sería posible sin:}\)
  <ul>
    <li>
      \(\text{el conjunto de scripts}\)
      <a href="https://gitlab.archlinux.org/archlinux/archiso">
        \(\texttt{archiso}\)
      </a>
      \(\text{y sus}\)
      <a
        href="https://gitlab.archlinux.org/archlinux/archiso/-/project_members">
        \(\text{desarrolladores}\)</a>\(,\)
    </li>
    <li>
      \(\text{la distribución GNU/Linux}\)
      <a href="https://getcyberos.org">
        \(\text{CyberOS}\)
      </a>
      \(\text{y sus}\)
      <a href="https://git.omame.xyz/explore/users">
        \(\text{colaboradores}\)</a>\(,\)
    </li>
    <li>
      \(\text{el metapaquete}\)
      <a href="https://aur.archlinux.org/packages/dune-core">
        \(\texttt{dune-core}\)
      </a>
      \(\text{del Arch User Repository (AUR) que (co)mantienen}\)
      <a
        href="https://aur.archlinux.org/packages/?O=0&SeB=M&K=carlosal1015&PP=250">
        \(\texttt{carlosal1015}\)
      </a>
      \(\text{ y }\)
      <a
        href="https://aur.archlinux.org/packages/?O=0&SeB=M&K=PrinceMachiavell&PP=250">
        \(\texttt{PrinceMachiavell}\)</a>\(,\)
    </li>
    <li>
      \(\text{los grupos}\)
      <a href="https://wiki.debian.org/DebianScience">
        \(\text{Debian Science Team}\)</a>,
      <a href="https://en.opensuse.org/openSUSE:Science_team">
        \(\text{openSUSE:Science team}\)</a>,
      <a href="https://www.freshports.org/math/dune-common">
        \(\text{FreeBSD Ports}\)</a>
      \(\text{y}\)
      <a
        href="https://github.com/dune-copasi/homebrew-tap/tree/main/Formula">
        \(\text{Taps (Third-Party Repositories)}\)</a>, \(\text{ya
      que tienen sus recetas de construcción}\)
      \(\text{de varios paquetes utilizados}\).
    </li>
    <li>
      \(\text{los miembros de la comunidad de}\)
      <a href="https://github.com/archlinuxmx">
        \(\text{Arch Linux México}\)</a>,
      \(\text{por su ayuda en la}\)
      \(\text{creación de mejores}\)
      <a href="https://wiki.archlinux.org/index.php/PKGBUILD">
        \(\text{PKGBUILD}\)</a>\(\text{s}.\)
    </li>
    <li>
      \(\text{y sobre todos de mis amigos},\text{en especial a Maddy
      por su buen ánimo y aliento},\)
      \(\text{que me han dado sus impresiones y
      retroalimentación}.\)
    </li>
  </ul>
  \(\text{¡Muchas gracias a todos!}\)
  </p>


  <iframe id="existing-iframe-example" width="800" height="500"
    src="https://www.youtube.com/embed/c_v2zCdg7-E?enablejsapi=1"
    frameborder="0" style="border: solid 4px #37474F"></iframe>

  <script type="text/javascript">
    var tag = document.createElement('script');
    tag.id = 'iframe-demo';
    tag.src = 'https://www.youtube.com/iframe_api';
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;

    function onYouTubeIframeAPIReady() {
      player = new YT.Player('existing-iframe-example', {
        events: {
          'onReady': onPlayerReady,
          'onStateChange': onPlayerStateChange
        }
      });
    }

    function onPlayerReady(event) {
      document.getElementById('existing-iframe-example').style
        .borderColor = '#FF6D00';
    }

    function changeBorderColor(playerStatus) {
      var color;
      if (playerStatus == -1) {
        color = "#37474F"; // unstarted = gray
      } else if (playerStatus == 0) {
        color = "#FFFF00"; // ended = yellow
      } else if (playerStatus == 1) {
        color = "#33691E"; // playing = green
      } else if (playerStatus == 2) {
        color = "#DD2C00"; // paused = red
      } else if (playerStatus == 3) {
        color = "#AA00FF"; // buffering = purple
      } else if (playerStatus == 5) {
        color = "#FF6DOO"; // video cued = orange
      }
      if (color) {
        document.getElementById('existing-iframe-example').style
          .borderColor = color;
      }
    }

    function onPlayerStateChange(event) {
      changeBorderColor(event.data);
    }
  </script>

</body>

<footer>
  <p style="color: MintCream;">
    \(\small\text{Enlace permanente:}\)
    <a href="https://dune-archiso.gitlab.io">
      \(\small\texttt{https://dune-archiso.gitlab.io}\)
    </a>
    <br>
    \(\small\text{Última modificación: }\texttt{Sat Dec 17 12:53:36 PM
    -05 2022}\)
    <a href="#" style="float: right;">
      \(\small\text{Volver arriba}\) ⬆
    </a>
    <hr>
  </p>
</footer>

</html>